files:
  id1:
    path: /tmp/etcfile
    type: yaml
    valid: true
  id2:
    path: /tmp/etcfile2
    type: planetext
    valid: false

tasks:
  touch:
    label: toucher
    desc: touch tmpfile
    task: touch /tmp/tasks && rm /tmp/tasks
  env:
    label: env
    desc: show env
    task: env
