files:
  - /tmp/tasks
  - /tmp/tasks2
    
tasks:
  touch:
    label: toucher
    desc: touch tmpfile
    task: touch /tmp/tasks && rm /tmp/tasks
  env:
    label: env
    desc: show env
    task: env
